#a {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#b {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#c {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#d {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#e {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#f {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#g {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}
#h {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#i {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#j {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#k {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#l {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#m {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#n {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#o {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#p {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#q {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#r {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#s {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#t {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#u {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#v {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#w {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#x {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#y {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}

#z {
  width: 40px;
  height: 40px;
  font-size: 30;
  font-family: "optima",serif;
}
